
<p><h1>Welcome to Face Quiz</h1></p>




<% val = pick_image_obj_random %>

<%= image_tag image(val) %>
<%= label_tag labele(val) %>


	
   <% correct = val.name %> 
   <% list =pick_image_obj(val) %>
   <% if correct == list[0] %>
   	<% correct_opt=1%>
   <%elsif correct == list[1]%>
   	<% correct_opt=2%>
   <%elsif correct == list[2]%>
   	<% correct_opt=3%>
   <%else correct == list[3]%>
   	<%correct_opt=4%>
   	<% end %>



<%= form_tag controller_path,:action =>'calculate', method: :get do %>
<% hidden_field_tag :correct_opt, "#{correct_opt}" %><br>

<%= radio_button_tag(:name, "#{list[0]}") %>
<%= label_tag(:name_op1, "#{list[0]}") %>
<%= radio_button_tag(:name, "#{list[1]}") %>
<%= label_tag(:name_op2, "#{list[1]}") %>
<%= radio_button_tag(:name, "#{list[2]}") %>
<%= label_tag(:name_op3, "#{list[2]}") %>
<%= radio_button_tag(:name, "#{list[3]}") %>
<%= label_tag(:name_op4, "#{list[3]}") %>

 <%= submit_tag "calculate", name: nil %>

<%= submit_tag "submit" %><br>



<% end %>













