<h1>Welcome to Face Match</h1><br/>

<i><h4>Guess who this person is...???</h4></i><br/>



<table>
<% val = pick_image_obj_random %>
<% correct = val.name %> 
<% list =pick_image_obj(val) %>

<tr><%= image_tag image(val) %></tr><br />



<%= form_tag(:controller => "quiz", :action => "calculate", :method => "post",:correct_opt =>"#{correct}") do %>

<tr>
<td><%= radio_button_tag(:name, "#{list[0]}") %></td><td><%= label_tag(:name_op, "#{list[0]}") %></td><td>&nbsp</td>
<td><%= radio_button_tag(:name, "#{list[1]}") %></td><td><%= label_tag(:name_op, "#{list[1]}") %></td><td>&nbsp</td>
<td><%= radio_button_tag(:name, "#{list[2]}") %></td><td><%= label_tag(:name_op, "#{list[2]}") %></td><td>&nbsp</td>
<td><%= radio_button_tag(:name, "#{list[3]}") %></td><td><%= label_tag(:name_op, "#{list[3]}") %></td>
</tr>
</table>

<br><br><%= submit_tag "Next" %>


<%end%>


<br><br><br><%= link_to 'End Quiz' , quiz_index_path %>





